/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "base.dtsi"

#include "L1.dtsi"
#include "L1_osx.dtsi"

// Other layers
#include "L2.dtsi"
#include "L2_osx.dtsi"
#include "L3.dtsi"
